h1 {
  font-size: 30px;
}
.container {
  display: flex;
}

.github {
  border: 1px solid black;
  padding: 10px;
}

.tab {
  text-align: center;
  /* font-size: 1px; */
  border: 2px solid red;
}


h4 {
  margin:0px;
  text-align: center;
}
h3 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 17px;
  /* border: 1px solid red; */
}

.convention {
  margin-top: 10px;
  /* border:  10px, solid, black; */
}
img {
  background-color: rgb(199, 119, 15);
  border: 1px solid black;
  padding:1px;
  margin-top:20px;
  border-radius: 10%;
}

.original {
  width: 40%;
}

.converted {
  width: 40%;
}

h2 {
  text-align: center;
  margin-bottom: 1px;
  margin-top: 2px;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 1px;
  margin-top: 2px;
}

h2 {
  font-weight: normal;
}

p {
  text-align: center;
  margin: 3px;
}

h2 {
  position:relative;
  /* left:100px; */
  right:10px;

}

textarea {
  height: 400px;
  width: 90%;
  position: relative;
  left:10px;
  font-size: 16px;
  line-height: 20px;
  background-color: rgb(243, 231, 231);
}

.button {
  text-align: center;
}

.convention {
  border: 3px solid slateblue;
  width: 150px;
  text-align: center;
  	margin-left: auto;    /*   These are the    */
	margin-right: auto; /* important lines! */
}

button {
  background-color: #0444BF; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: 420;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

/* .original {
  border: 1px solid red;
}

.converted {
  border: 1px solid blue;
} */